{% extends 'layout-2-1-bleedbar.html' %}

{% import 'templates/render_block.html' as render_block with context %}
{% import 'templates/streamfield-sidefoot.html' as streamfield_sidefoot with context %}

{% block content_main %}
    {% for block in page.header -%}
        {% if block.block_type != 'hero' %}
            {{ render_block.render(block, loop.index) }}
        {% endif %}
    {%- endfor %}
    {% for block in page.content -%}
        {{ render_block.render(block, loop.index) }}
    {%- endfor %}
{% endblock %}